#header-logo {
  width: 30px;
  height: 30px;
}

.brand-gradient {
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(135deg, #1a73e8, #34a853);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.MuiAppBar-root {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14) !important;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14) !important;
  -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14) !important;
}

.MuiAppBar-root::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: linear-gradient(to right, #3498db, #2ecc71);
}

.MuiAppBar-colorDefault {
  background-color: #fff !important;
}

.MuiButton-root,
.MuiInputBase-root {
  border-radius: 24px !important;
}

#screen-left {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  scale: 0.8;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  &__floating-text {
    color: #fff;
    position: absolute;
    left: 30px;
    bottom: 20px;
  }
}
